<div>
  <% begin %>
    <%= image_tag article.image, class: "blog-image" %>
  <% rescue %>
    <h4>No Image</h4>
  <% end %>
  <h3><%= article.title %></h3>
  <p><%= article.body %></p>
  <ul>
    <li> <%= link_to "Edit", edit_article_path(article) %> </li>
    <li> 
      <%= 
        link_to "Delete", 
        article_path(article),
        data: {
          turbo_method: :delete,
          turbo_confirm: 'Are you sure',
        }
      %> 
    </li> 
  </ul>
</div>
