<%= form_with model: article, class: "form" do |form|%>
  <div class="form__input">
    <%= form.label :title, class: "form__label" %>
    <%= form.text_field :title %>
  </div>

  <div class="form__input">
    <%= form.label :body, class: "form__label"%>
    <%= form.text_area :body %>
  </div>

  <div class="form__input">
    <%= form.label :image, class: "form__label" %>

    <div class="form__file">
      <button class="btn">Upload a file</button>
      <%= form.file_field :image %>
    </div>

  </div>

  <div class="form__button">
    <%= form.submit%>
  </div>
<% end %>
<div class="info">
  <% unless article.errors.full_messages_for(:title).length.zero? %>
    <% article.errors.full_messages_for(:title).each do |message|  %>
      <div> <%= message %> </div>
    <% end %>
  <% end %>
    
  <% unless article.errors.full_messages_for(:body).length.zero? %>
    <% article.errors.full_messages_for(:body).each do |message|  %>
      <div> <%= message %> </div>
    <% end %>
  <% end %>

  <% unless article.errors.full_messages_for(:image).length.zero? %>
    <% article.errors.full_messages_for(:image).each do |message|  %>
      <div> <%= message %> </div>
    <% end %>
  <% end %>
</div>

</br>
<%= link_to "List of Blogs", articles_path, class: "list-of-blogs" %>
